﻿@using System.Web.Optimization
@model dynamic

@{
    ViewBag.Title = "title";
}

<!DOCTYPE html>
<html ng-app="SalesMVCAPP">
<head>
    <title></title>

    <style type="text/css">
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }

        li {
            display: inline;
        }
    </style>

</head>
<body ng-controller="GraphCtrl">

    <div>
        <form name="myForm">

            <div class="row" style="padding: 1em; padding-left: 3em;">
                <div class="col-md-1">

                    <label for="repeatSelect">Time Period: </label>
                    <p class="input-group">
                        <select class="btn btn-primary" name="repeatSelect" id="repeatSelect"
                                ng-options="option.name for option in dropDownData.availableOptions track by option.id"
                                ng-model="dropDownData.selectedOption" ng-change="setDropDown()"></select>
                    </p>
                </div>

                <div class="col-md-2">
                    <label>Start Date:</label>
                    <p class="input-group">
                        <input  ng-model="sDate" ng-change="setStartDate()" type="date" class="form-control" uib-datepicker-popup ng-model="dt" is-open="status.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                        <span class="input-group-btn">
                        </span>
                    </p>
                </div>

                <div class="col-md-2">
                    <label>End Date:</label>
                    <p class="input-group">
                        <input ng-model="eDate" ng-change="setEndDate()" type="date" class="form-control" uib-datepicker-popup ng-model="dt" is-open="status.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                        <span class="input-group-btn">
                        </span>
                    </p>
                </div>
            </div>
        </form>

        <div style="padding: 1.5em;" class="row">
            <c3chart bindto-id="chart" chart-data="datapoints" chart-columns="datacolumns" chart-x="datax" show-subchart="true" enable-zoom="true">
                <chart-axis>
                    <chart-axis-x axis-label="Time" axis-position="outer-center" axis-id="x" axis-type="category">
                    </chart-axis-x>
                <chart-axis-y axis-id="y" axis-position="outer-middle" axis-label="Sum (in Thousands)"/>
                <chart-legend show-legend="true" legend-position="right"/>
            </c3chart>

        </div>




    </div>

    @Styles.Render("~/bundles/styleBundle")
    @Scripts.Render("~/bundles/scriptBundle")
</body>
</html>





